---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
I have been a teaching assistant for courses ranging from introductory computer science to upper undergraduate/graduate level courses. I have led recitations for 5+ years in various courses, designed and graded assignments, and held office hours. I have also been a volunteer tutor for middle school age math students. 
<br>
My philosophy of teaching computer science and mathematics is to encourage students to build overarching mental models of the subject. 
To build this, I aim to develop students understanding of fundamentals and develop intuition. 
In my observations, building this mental model requires working on specific examples that help illustrate the overarching principles, and having students work and explain problems and concepts to each other to solidify their overall understanding. 
In pursuit of this, I am constantly looking for new ways to engage students and receiving feedback from them. 
<br>
I have received both the <a href= "https://www.credential.net/e0020065-c8a5-43a7-8ffa-dcc5e2949ab8">Graduate Teaching Certificate </a> and the 
<a href = "https://www.credential.net/b66134f1-fb62-491d-8571-59f380eae791">Dr. Sandra J. Finley Teacher Scholar Certificate </a> from the Center for Innovation in Teaching and Learning at the University of Illinois.
Since 2021, I have consistently received the <a href = "https://citl.illinois.edu/citl-101/measurement-evaluation/teaching-evaluation/teaching-evaluations-(ices)/teachers-ranked-as-excellent">Teachers Ranked as Excellence</a>  designation based on student evaluations every semester I have been teaching.
I have also been awarded <a href = "https://siebelschool.illinois.edu/about/awards/graduate-fellowships-awards/outstanding-teaching-assistants"> Outstanding Teaching Assistant Award </a> by the Siebel School of Computing and Data Science.
<br>

I have also been a private tutor. You can find my profile <a href = "https://cambridgecoaching.com/tutors/aditya-k?tier=5,3">here </a> and follow the links there if you want to work with me individually.


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
